################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MandalaRewardTax/bin/Debug/net8.0-windows
/MandalaRewardTax/obj
/RewardTaxLibraries/bin/Debug/net8.0
/RewardTaxLibraries/obj
